<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <a href="http://localhost:3009/">{{welcomeMessage}}</a><br><br>
    <a href="http://localhost:3009/about">About</a><br><br>
     <a href="http://localhost:3009/weather">Weather</a>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
