<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
  
    <h1>Hyderabad weather details</h1>
    <p>Temperature is {{temperature1.temperature}} and
    It feels like {{apparentTemperature1.apparentTemperature}} </p>
    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>



